.SearchChipsBarContainer {
    display: flex;
    flex-direction: column;
    margin-top: var(--medium-spacing);
}

.SearchChipsBarInputContainer {
    margin-top: var(--medium-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--normal-spacing);
    background-color: var(--input-color);
    border-radius: var(--small-spacing);
    padding: var(--medium-spacing) var(--small-spacing);
}

.SearchChipsBarIcon {
    margin-right: var(--small-spacing);
}

.SearchChipsBarInput {
    width: 100%;
    padding-bottom: var(--tiny-spacing);
    font-size: var(--average-spacing);
    color: var(--input-color);
}

.SearchChipsBarChips {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-left: var(--small-spacing);
}