.InputChipContainer {
    border-radius: 16px;
    overflow: hidden;
    background-color: grey;
    align-items: stretch;
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.InputChipLeadingContainer {
    font-size: 20px;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.InputChipOutline {
    border-width: 1px;
    border-radius: var(--medium-spacing-plus);
}